<!-- _activitiesTab.html -->
<div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab"
     th:fragment="activitiesTab">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Available Activities</h5>
            <ul class="nav nav-tabs attribute-tabs" id="activityAttributeTabs" role="tablist">
                <!-- Dynamically loaded activities -->
            </ul>
            <div class="tab-content" id="activityAttributeTabContent">
                <!-- Activities details go here -->
            </div>
        </div>
    </div>
</div>