<!-- _inventoryManagementTab.html -->
<div class="tab-pane fade" id="inventory-management" role="tabpanel"
     aria-labelledby="inventory-management-tab" th:fragment="inventoryManagementTab">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inventory Management</h5>
      <div class="row">
        <div class="col-md-8">
          <div id="selectedItemInfo" class="mb-3">
            <h6>Selected Item</h6>
            <div id="selectedItemDetails"></div>
          </div>
          <div id="inventoryContainer" class="d-flex flex-wrap"></div>
        </div>
        <div class="col-md-4">
          <h6>Equipment</h6>
          <div id="equipmentContainer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
