<!-- _sidebar.html -->
<div id="sidebar" th:fragment="sidebar">
    <div class="card">
        <div class="card-header" id="playerInfoHeader">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#playerInfoCollapse"
                        aria-expanded="true" aria-controls="playerInfoCollapse">
                    Player Info
                </button>
            </h5>
        </div>
        <div id="playerInfoCollapse" class="collapse show" aria-labelledby="playerInfoHeader">
            <div class="card-body">
                <div id="playerInfo"></div>
            </div>
        </div>
    </div>
    <!-- You can place additional sidebar cards here if desired -->
</div>
